<% unless @dosages.empty? %>
  <div class="card yellow lighten-4">
    <div class="card-content">
      <span class="card-title">Dosages given</span>
      <ul>
        <% for dosage in @dosages %>
          <li>
            <%= link_to(dosage_path(dosage), method: :delete, class: 'remove') do %>
                x&nbsp;&nbsp;
              <% end %>
            <%= link_to dosage.medicine.name, medicine_path(dosage.medicine) %>:&nbsp;&nbsp;
            <%= dosage.units_given %> <%= dosage.medicine.unit %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="card-action">
      <%= link_to "Add a new dosage", new_dosage_path(visit_id: @visit.id) %>
    </div>
  </div>
<% else %>
  <div class="card grey lighten-3">
    <div class="card-action">
      <%= link_to "Add a new dosage", new_dosage_path(visit_id: @visit.id) %>
    </div>
  </div>
<% end %>