
<div class="row">
  <div class="col s8">
    <h4>New price for <%= @procedure.name %></h4>
    <%= simple_form_for(@procedure_cost) do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <p>&nbsp;&nbsp;&nbsp;Current cost: <%= number_to_currency(@procedure.current_cost/100.0) %></p>
        <p><h6><em>&nbsp;&nbsp;&nbsp;enter new price in terms of dollars</em></h6></p>
        <div class="form-inputs">
          <%= f.input :procedure_id, as: :hidden, input_html: { value: @procedure.id } %>
          <%= f.input :cost %>
        </div>
      </div>
      <div class="row">
        <div class="form-actions col s8">
          <%= f.button :submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>