<!DOCTYPE html>
<html>
  <head>
    <title>PATS :: Version 1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>
  </head>

  <body>
    <!-- Partials for the topbar and navigation -->
    <%= render :partial => "partials/topbar" %>
    <% if logged_in? %>
      <%= render :partial => "partials/nav" %>
    <% else %>
      <%= render :partial => "partials/nav_guest" %>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="col s12">
          <!-- Flash messages appear here -->
          <%= render :partial => "partials/flash" %>

          <!-- MAIN CONTENT OF TEMPLATE GOES HERE -->
          <%= yield %>

        </div>
      </div>
    </div>
    
    <%= render :partial => "partials/footer" %>    
  </body>
</html>
